<a href="https://colab.research.google.com/github/sachin00028/ML_algorithms/blob/main/Gender_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/gender_classification_v7.csv')
df

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [ ]:
df.shape

(5001, 8)

In [ ]:
df.columns

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender'],
      dtype='object')

In [ ]:
df.isna().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [ ]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
y

array(['Male', 'Female', 'Male', ..., 'Female', 'Female', 'Male'],
      dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)
x_train

array([[ 1. , 13. ,  6.4, ...,  0. ,  0. ,  0. ],
       [ 1. , 11.8,  5.1, ...,  0. ,  1. ,  1. ],
       [ 1. , 12. ,  5.5, ...,  1. ,  1. ,  1. ],
       ...,
       [ 1. , 13.4,  5.5, ...,  0. ,  0. ,  0. ],
       [ 1. , 13.7,  5.7, ...,  1. ,  1. ,  1. ],
       [ 1. , 15.1,  5.4, ...,  1. ,  1. ,  1. ]])

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)
x_test

array([[ 0.38606726, -0.33657274,  0.6686266 , ..., -1.02137117,
         1.02546704, -0.99600797],
       [ 0.38606726, -0.78743181, -0.2587702 , ...,  0.979076  ,
         1.02546704,  1.00400803],
       [ 0.38606726, -1.50880632, -1.00068764, ..., -1.02137117,
        -0.97516542, -0.99600797],
       ...,
       [ 0.38606726, -1.4186345 , -0.2587702 , ...,  0.979076  ,
         1.02546704,  1.00400803],
       [ 0.38606726,  0.11428633, -1.00068764, ..., -1.02137117,
         1.02546704, -0.99600797],
       [-2.59022221,  0.47497359, -1.55712572, ...,  0.979076  ,
         1.02546704,  1.00400803]])

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=7)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
y_pred

array(['Female', 'Male', 'Female', ..., 'Male', 'Female', 'Male'],
      dtype=object)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
report=classification_report(y_pred,y_test)
print(report)

              precision    recall  f1-score   support

      Female       0.98      0.95      0.97       767
        Male       0.95      0.98      0.97       734

    accuracy                           0.97      1501
   macro avg       0.97      0.97      0.97      1501
weighted avg       0.97      0.97      0.97      1501